apiVersion: batch/v1
kind: CronJob
metadata:
  name: backup-service
spec:
  schedule: "0 0 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          imagePullSecrets:
            - name: ghcr-secret
          containers:
          - name: backup-service
            image: ghcr.io/darshan-raul/apollo11-devsecops/backup-service:main-900ddaf
            imagePullPolicy: IfNotPresent
            env:
            - name: DATABASE_URL
              value: "postgres://postgres:postgres@postgres:5432/apollo11"
          restartPolicy: OnFailure
