apiVersion: v1
kind: ConfigMap
metadata:
  name: keycloak-realm-config
  labels:
    app: keycloak
data:
  realm.json: |
    {
        "realm": "apollo11",
        "enabled": true,
        "users": [
            {
                "username": "admin",
                "enabled": true,
                "email": "admin@apollo11.com",
                "firstName": "Commander",
                "lastName": "Shepard",
                "credentials": [
                    {
                        "type": "password",
                        "value": "admin",
                        "temporary": false
                    }
                ],
                "realmRoles": [
                    "apollo11-admin"
                ]
            },
            {
                "username": "user",
                "enabled": true,
                "email": "astronaut@apollo11.com",
                "credentials": [
                    {
                        "type": "password",
                        "value": "user",
                        "temporary": false
                    }
                ]
            }
        ],
        "roles": {
            "realm": [
                {
                    "name": "apollo11-admin",
                    "description": "Administrator role for Apollo 11 Mission Control"
                }
            ]
        },
        "clients": [
            {
                "clientId": "apollo11-portal",
                "enabled": true,
                "publicClient": true,
                "directAccessGrantsEnabled": true,
                "redirectUris": [
                    "*"
                ],
                "webOrigins": [
                    "*"
                ],
                "fullScopeAllowed": true,
                "protocol": "openid-connect"
            }
        ]
    }
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: keycloak-config
  labels:
    app: keycloak
data:
  KC_DB: "postgres"
  KC_DB_URL: "jdbc:postgresql://postgres-0.postgres.default.svc.cluster.local:5432/apollo11"
  KC_DB_USERNAME: "postgres"
  KC_DB_SCHEMA: "keycloak"



