apiVersion: apps/v1
kind: Deployment
metadata:
  name: portal
  labels:
    app: portal
spec:
  replicas: 1
  selector:
    matchLabels:
      app: portal
  template:
    metadata:
      labels:
        app: portal
    spec:
      containers:
      - name: portal
        image: local-registry:5000/apollo11-portal:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
