apiVersion: apps/v1
kind: Deployment
metadata:
  name: portal
spec:
  replicas: 1
  selector:
    matchLabels:
      app: portal
  template:
    metadata:
      labels:
        app: portal
    spec: 
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: portal
          image: ghcr.io/darshan-raul/apollo11-devsecops/portal:main-900ddaf
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          env:
            - name: VITE_API_URL
              value: "http://core-api:8000"